.button {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.4rem;
	letter-spacing: 3px;

	align-items: center;
	display: inline-flex; /* to center vertical align button text */

	border: none;
	border-radius: 50px;
	margin-left: 7%;
	padding: 0.4rem 0.4rem 0.4rem 2rem;
	width: 12.7rem; /* to prevent button from shrinking when button text changes */
}

.down-arrow-icon {
	margin-left: 1.5rem;
	transform: rotate(180deg);
}

.open-panel {
	margin-bottom: 4.3rem;
}

.up-arrow-icon {
	margin-left: 1.9rem; /* to componsate for the narrower "LESS" text */
}
