.button {
	color: rgb(137, 137, 135);
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.4rem;
	letter-spacing: 3px;

	align-items: center;
	display: inline-flex; /* to center vertical align button text */

	border: none;
	border-radius: 50px;
	margin-left: 7%;
	padding: 0.4rem 0.4rem 0.4rem 2rem;
	width: 12.7rem; /* to prevent button from shrinking when button text changes */
}

@media (min-width: 768px) {
	.button {
		font-size: 1.6rem;
		line-height: 2.8rem;
		letter-spacing: 3px;

		margin-left: 8%;
		padding: 0.8rem 0rem 0.8rem 2.4rem;
		width: 14.6rem; /* to prevent button from shrinking when button text changes */
	}
}

.down-arrow-icon {
	margin-left: 1.5rem;
	transform: rotate(180deg);
}

@media (min-width: 768px) {
	.down-arrow-icon {
		margin-left: 1.3rem;
	}
}

.open-panel {
	margin-bottom: 4.3rem;
}

@media (min-width: 768px) {
	.open-panel {
		margin-bottom: 6.4rem;
	}
}

.up-arrow-icon {
	margin-left: 1.9rem; /* to componsate for the narrower "LESS" text */
}
