.location-info {
	font-size: 15px;
	text-transform: uppercase;
}

/* .location-info span {
	text-transform: capitalize;
} */

.message {
	vertical-align: middle;
}

.symbol {
	vertical-align: bottom;
}

.time {
	font-size: 100px;
	font-weight: 700;
	letter-spacing: -2.5px;
}

.timezone {
	font-size: 15px;
	font-weight: 300;
}
