.data-category {
	font-size: 1rem;
	letter-spacing: 2px;
	line-height: 2.8rem;
}

@media (min-width: 768px) {
	.data-category {
		font-size: 1.3rem;
		letter-spacing: 2.6px;
	}
}

.container-content {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin: 0 auto;
	padding-top: 4.8rem;
	padding-bottom: max(calc(100vh - 631px), 36px);
	width: 86%;
}

@media (min-width: 768px) {
	.container-content {
		display: grid;
		gap: 50px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 7.6rem 7.6rem;
		padding-top: 6rem;
		padding-bottom: max(calc(100vh - 843px), 181px);
		width: 84%;
	}
}

.container-data {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 768px) {
	.container-data {
		flex-direction: column;
	}
}

.data {
	align-self: center;
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.4rem;
}

@media (min-width: 768px) {
	.data {
		align-self: start;
		font-size: 4rem;
		line-height: 4.8rem;
	}
}

.info-panel-day {
	background-color: white;
	opacity: 80%;
}

.info-panel-night {
	background-color: black;
	color: white;
	opacity: 80%;
}
