.arrow-icon {
	padding: 1.3rem 1rem;
	background-color: #303030;
	border-radius: 50px;

	margin-left: 1.5rem;
}

.button {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.4rem;
	letter-spacing: 3px;

	display: inline-flex;
	align-items: center;

	border: none;
	border-radius: 50px;
	padding: 0.4rem 0.4rem 0.4rem 2rem;
	margin-left: 7%;
	/* opacity: 50%; */
}

.list-item {
	display: flex;
	justify-content: space-between;
}
