.container-main {
	color: white;

	width: 86%;
	margin: 0 auto;
	padding-top: 3.2rem;
	height: 11.8rem;

	display: flex;
	justify-content: space-between;
}

.quote,
.quote-author {
	font-size: 1.2rem;
	line-height: 2.2rem;
}

.quote-author {
	font-weight: 700;
	margin-top: 0.8rem;
}

.quote-text {
	width: 90%;
}

.refresh-icon {
	cursor: pointer;
	width: 16.5px;
	height: 16.5px;
}
