.container {
	color: white;

	height: 11.8rem; /* static height and margin used to allow Clock to be in same position */
	margin: 0 auto 22.6rem;
	max-width: 660px;
	padding-top: 3.2rem; /* padding instead of margin in order to be included as part of <body>?? */
	width: 86%;

	display: flex;
	justify-content: space-between;
}

@media (min-width: 768px) {
	.container {
		margin-left: 8%;
		margin-bottom: 48rem;
		padding-top: 8rem; /* padding instead of margin in order to be included as part of <body>?? */
	}
}

@media (min-width: 1440px) {
	.container {
		margin-left: 12%;
		margin-bottom: 23.3rem;
		padding-top: 5.6rem; /* padding instead of margin in order to be included as part of <body>?? */
	}
}

.quote,
.quote-author {
	font-size: 1.2rem;
	line-height: 2.2rem;
}

@media (min-width: 768px) {
	.quote,
	.quote-author {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
}

.quote-author {
	font-weight: 700;
	margin-top: 0.8rem;
}

@media (min-width: 768px) {
	.quote-author {
		margin-top: 1.3rem;
	}
}

.quote-text {
	width: 90%;
}

.refresh-icon {
	cursor: pointer;
	width: 1.67rem;
	height: 1.67rem;
}
