.container-day,
.container-night {
	background-repeat: no-repeat;
	background-size: cover;

	min-height: 100vh;
}

.container-day {
	background-image: linear-gradient(rgba(63, 61, 61, 0.55), rgba(63, 61, 61, 0.55)),
		url("/public/assets/mobile/bg-image-daytime.jpg");
}

.container-night {
	background-image: linear-gradient(rgba(63, 61, 61, 0.4), rgba(63, 61, 61, 0.4)),
		url("/public/assets/mobile/bg-image-nighttime.jpg");
}
