@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	/* background-image: linear-gradient(rgba(63, 61, 61, 0.55), rgba(63, 61, 61, 0.55)),
		url("/public/assets/mobile/bg-image-daytime.jpg");
	height: 100vh; */
	font-family: "Inter", sans-serif;
	font-size: 1.6rem;
}

img {
	max-width: 100%;
	height: auto;
}
